.MainContainer{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: fit-content;
}
.SectionOne{
    width: 27%;
}
.SectionTwo{
    width: 73%;
    margin-left: 40px;


}
.Card{
    background-color: white;
    box-shadow: 0 0 5px #b1b1b1;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    box-sizing: border-box;
}
.SessionCard{
    height: 85px;
    overflow: hidden;
    transition: all linear 300ms;
   
}
.ActiveCard{
    height: 200px;
}
.SessionImg{
    width: 60px;
    height: 60px;
}
.ImgSec{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.SessionTitle{
    min-width: 100px;
    margin: 0;
    margin-left: 20px;
    font-weight: 600;
    
}
.UserData{
    margin: 0;
    font-weight: 700;
}
.UserScore{
    font-weight: normal;
}
.TitleModule{
    margin: 0;
    font-size: 20px;
}
.Weeks{
    color: black;
    opacity: 0.6;
    font-weight: 700;
    margin-top: 20px;
    cursor: pointer;
}
.BlueWeek{
    color: dodgerblue;
    opacity: 1;
}
.TitleSession{
    margin: 0;
    margin-top: -5px;
    margin-bottom: 22px;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}
.SessionLink{
    color: #0e99fa;
    cursor: pointer;
}
.NoData{
    font-size: 26px;
    color: #000000;
    opacity: 0.6;
    margin: 0;
    padding: 0;
    font-weight: 600;
}
.TitleWrapper{
    display: flex;
    justify-content: space-between;
}
.AngleDown{
    transition: all linear 300ms;
}
.AngleUp{
    transform: rotateZ(-180deg);
}

.PlanLink{
    padding-bottom: 30px;
}