p{
    color:black;
}

.ProblemList{
    width:85%;
    margin:auto;
}
.ProblemTitle{
font-style: italic;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
margin:0;
}
.ProblemCard{
    width:100%;
    display: flex;
    border:3px solid #0095FF;
    border-radius:10px;
   
    
}
.ProblemStatementDiv{
    width:75%;
    /* height:100%; */
    /* border:1px solid black; */
    margin-left: 10px;
    margin-top: 0px;
}
.SerialNo{
    width:10%;
    background-color: #0095FF;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-style: italic;
    box-sizing: border-box;
    font-size: 18px;
    margin:0;
    margin-bottom:1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ProblemStatement{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    box-sizing: border-box;
    margin:0;
}
.Level{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    box-sizing: border-box;
    margin:0;
}
.Todo{
    margin:10px;
    border:3px solid #0095FF;
    /* text-align: center; */
    color:#0095FF;
    padding: 0.2rem;
    font-weight: bold;
    font-style: italic;
    box-sizing: border-box;
    font-size: 20px;
    height:40px;
}