.Footer{
    background-color: #182146;
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
}
.FooterNav{
    display: flex;
    flex-direction: column;
}
.FooterNav h1{
    color: rgb(148, 145, 145);
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0;
}
.FooterNav a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}